body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/Links/sena.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  body:before {
content: "";
width: 100%;
min-height: 100vh;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(90deg, #9bda7c, #205f01);
opacity: 0.8;
z-index: -1;
}

  div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
  }
  
  input,
  select,
  button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }